<!DOCTYPE html>
<html ng-app="myWebsite">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Herbert Lin</title>
	
	<link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/get-shit-done.css" rel="stylesheet">
	<link rel="stylesheet" href="css/demo.css" rel="stylesheet">
	<link rel="stylesheet" href="css/custom.css" rel="stylesheet">
	
	<link rel="stylesheet" href="css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

	<script src="js/angular.min.js"></script>
	<script src="js/ui-bootstrap-0.14.2.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="pageCtrl">
	<div id="navbar">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
	    	<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#" ng-click="setTab(0)">Herbert Lin</a>
	    	</div>
	    	<div class="navbar-collapse bs-js-navbar-collapse" collapse="isCollapsed">
	    		<ul class="nav navbar-nav navbar-right">
		    		<li><a href="#" ng-click="setTab(1)">Work</a></li>
		    		<li><a href="http://xcrossd.blogspot.com/">Blog</a></li>
		    		<li><a href="#" ng-click="setTab(2)">About</a></li>
		    	</ul>
	    	</div>
			</div>
		</nav>
	</div>

	<div class="jumbotron text-center" ng-show="isSelected(0)">
	  <h1>Programmer. Tech lover.</h1>
	  <p>I try my best to get things done. Efficiently. That's why I keep learning.</p>
	  <p><a class="btn btn-primary btn-lg" role="button" ng-click="setTab(2)">Learn more</a></p>
	</div>

	<div class="main">
		<div class="container tim-container" ng-show="isSelected(1)">
			<div class="row text-center">
				<img src="./img/banner-web.jpg">
				<hr>
			</div>
			<div class="row">
				<div class="col-md-4">
					<p><h4>YuYing Elementary School</h4></p>
					<p>Technologies: HTML, CSS, JavaScript, MySQL, PHP(XOOPS framework), IIS 6.0</p>
					<p>Redesigned to replace the previous school website, which was not updated for 4 years. To make the website maintainable for non-programmers, XOOPS was originally used to build the former website, so the framework was continued with its latest updates.</p>
				</div>
				<div class="col-md-8">
					<img src="./img/yuying.jpg" class="img-thumbnail">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p><h4>HKUST Model United Nations Club</h4></p>
					<p>Technologies: HTML, CSS, JavaScript, MySQL, PHP, python</p>
					<p>Homebrewed directly from a free html template, this website is created to be a portal for all HKUST MUNC related information. A crude PHP login system is also implemented for users to register, login, create posts, and update existing post informations.</p>
				</div>
				<div class="col-md-8">
					<img src="./img/hkustmunc.jpg" class="img-thumbnail">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="well well-sm text-center">
					<p>Banner attribution:
					<a href="http://www.freepik.com/free-photos-vectors/label">Label vector designed by Freepik</a></p>
				</div>
			</div>
		</div>
	</div>
	

	<div class="main">
		<div class="container tim-container" ng-show="isSelected(2)">
			<div class="row text-center">
				<h1>Biography / 自傳</h1>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Hi, my name is Herbert, who is passionate about the latest technologies and everything related to the computer and web. To me, expanding my knowledge is exciting, so I always strive to learn different skills and technologies. I see myself as a flexible team player with humor, but when necessary I will firmly stick to my principle if I believe that is for the best.</p>

					<p>I studied in Hong Kong University of Science and Technology(HKUST) for my bachelor degree. The reason why I chose HKUST for my undergraduate studies is that I wanted to challenge myself in the competitive environment of a prestigious school. Indeed the 4 years of studying were busy, and I learned from various experiences in the process. However the most important thing I learned was that passion is the key to success.</p> 

					<p>I view myself to be a fast learner driven by passion. Both before graduation and after graduation, I learned to build several websites by myself. Each time I tried to build the website with some new technology that I have never used before so that I can obtain more skills. Although I am also interested in software development, I never went deep into software development languages such as Java, C++, and C#, which is an empty gap I always wanted to fill. I will be very excited if I start to learn how to develop software.</p>

					<p>Regarding teamwork, depending on the group composition, I switch roles to complement the group. I firmly believe communication is paramount in teamwork, and it is especially important for me to do such role switching. As a leader, I usually consult the group for the best solution, following it rigorously when a best solution is determined. As a group member, I follow the leader's lead, but if it seems there would be an obstacle impeding our success, I won't hesitate to bring it up.</p>

					<p>The technology world is truly fascinating. When accomplishing one's vision, there are many exciting aspects, within which the most joyous aspect for me is to see people enjoying using what I built. With passion, a strong desire to learn, and team communication skills, I believe I can create awesome products with awesome teams.</p>
				</div>
				<div class="col-md-6">
					<p>你好，我的名字是林賀博，我是一個非常熱衷於最新科技以及跟所有跟電腦、網路相關事物的人。對我來說增進個人知識是一件很興奮的事情，所以我一直在學新的科技技術。在一個團隊裡面，我是一個很有彈性且幽默的人，但是如果遇到會負面影響團隊的事情，我絕對不會妥協。</p>

					<p>我大學就讀於香港科技大學。選擇香港科技大學的理由很簡單，就是我想要在一個享譽國際的學校挑戰自己。在大學四年裡，我確實學到了種種寶貴的經驗，不過我體會到要成功最重要的一件事情是對事物有熱誠。</p>

					<p>我認為我是一個抱持極大熱誠在學習新知識的人。在畢業以前或畢業之後，我自己學習了怎麼設計網站，並且完成了幾個網站。每次我在設計一個新網站的時候，我都會嘗試使用我以前沒用過的技術，這樣我才能夠學習到新的知識。雖說我對於軟體設計也抱持著熱誠，可是我從來沒有去深入Java, C#, C++等等語言，這是一個我覺得可惜想要去彌補的地方。如果開始學習怎麼去設計一個軟體，我想我會很高興。</p>

					<p>團隊合作方面，我會根據一個團隊裡面缺少的腳色去扮演我應該扮演的腳色。團隊溝通非常重要，尤其是在我扮演不同腳色的時候更能發揮作用。當我在領導時，我會確認大家都一致了解我們的目標，然後在經過討論後，用最好的辦法去達成目標。當我是組員的時候，我會使命必達遵從組長的指示，但是如果有會影響目標達成的因素時，我會把他提出。

					<p>科技真的很令人著迷。在科技的世界裡，從一個願景到產品完成的過程裡面，我相信很多事情在做的時候是很快樂的。至少在我的經驗哩，對我來說最快樂的事情莫過於看到使用者喜歡用自己開發的產品的那種心情，那種心情是其他事物無法比擬的。相信日後，憑藉著熱誠、學習態度、以及團隊合作的精神，我可以跟很棒的團隊一起完成很棒的產品。</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
