<!DOCTYPE html>
<html ng-app="myWebsite">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Herbert Lin</title>

	<link rel="stylesheet" href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/get-shit-done.css" rel="stylesheet">
	<link rel="stylesheet" href="css/demo.css" rel="stylesheet">
	<link rel="stylesheet" href="css/custom.css" rel="stylesheet">

	<link rel="stylesheet" href="css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

	<script src="js/angular.min.js"></script>
	<script src="js/ui-bootstrap-0.14.2.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="pageCtrl">
	<div id="navbar">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
	    	<div class="navbar-header">
		      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#" ng-click="setTab(0)">Herbert Lin</a>
	    	</div>
	    	<div class="navbar-collapse bs-js-navbar-collapse" collapse="isCollapsed">
	    		<ul class="nav navbar-nav navbar-right">
		    		<li><a href="#" ng-click="setTab(1)">Work</a></li>
		    		<li><a href="http://xcrossd.blogspot.com/">Blog</a></li>
		    		<li><a href="#" ng-click="setTab(2)">About</a></li>
		    	</ul>
	    	</div>
			</div>
		</nav>
	</div>

	<div class="jumbotron text-center" ng-show="isSelected(0)">
	  <h1>Programmer. Tech lover.</h1>
	  <p>I try my best to get things done. Efficiently. That's why I keep learning.</p>
	  <p><a class="btn btn-primary btn-lg" role="button" ng-click="setTab(2)">Learn more</a>&nbsp&nbsp<a class="btn btn-primary btn-lg" role="button" href="https://www.dropbox.com/s/likvy8592uf3orm/herbert_lin_resume.pdf?dl=0">Resume</a></p>
	</div>

	<div class="main">
		<div class="container tim-container" ng-show="isSelected(1)">
			<div class="row">
				<img src="./img/banner-web.jpg" class="img-responsive center-block">
				<hr>
			</div>
			<div class="row">
				<div class="col-md-4">
					<p><h4>LinkMygoods</h4></p>
					<p>Technologies: HTML, CSS, JavaScript, MySQL</p>
					<p>Essentially an CRM system, LinkMyGoods is designed to smoothen out the process from quotation to shipping. New features are designed and existing features are revamped in places where it is lacking.</p>
				</div>
				<div class="col-md-8">
					<img src="./img/LMG-1.png" class="img-thumbnail">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p><h4>YuYing Elementary School</h4></p>
					<p>Technologies: HTML, CSS, JavaScript, MySQL, PHP(XOOPS framework), IIS 6.0</p>
					<p>Redesigned to replace the previous school website, which was not updated for 4 years. To make the website maintainable for non-programmers, XOOPS was originally used to build the former website, so the framework was continued with its latest updates.</p>
				</div>
				<div class="col-md-8">
					<img src="./img/yuying.jpg" class="img-thumbnail">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p><h4>HKUST Model United Nations Club</h4></p>
					<p>Technologies: HTML, CSS, JavaScript, MySQL, PHP, python</p>
					<p>Homebrewed directly from a free html template, this website is created to be a portal for all HKUST MUNC related information. A crude PHP login system is also implemented for users to register, login, create posts, and update existing post informations.</p>
				</div>
				<div class="col-md-8">
					<img src="./img/hkustmunc.jpg" class="img-thumbnail">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="well well-sm text-center">
					<p>Banner attribution:
					<a href="http://www.freepik.com/free-photos-vectors/label">Label vector designed by Freepik</a></p>
				</div>
			</div>
		</div>
	</div>


	<div class="main">
		<div class="container tim-container" ng-show="isSelected(2)">
			<div class="row text-center">
				<h1>Biography / 自傳</h1>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Hi, my name is Herbert. I am very passionate about the latest technologies and everything related to the computer and the Internet. Constantly learning and overcoming challenges are exciting to me, so I always strive to learn different skills and technologies. I see myself as a flexible team player with humor, but when necessary I will firmly stick to my principle if I believe that is for the best.</p>

					<p>I studied in Hong Kong University of Science and Technology(HKUST) for my bachelor degree. Although the academic resources there were quite helpful, I feel that my biggest takeaway from my 4 years there is to work on what I am passionate about and pursue excellence.</p>

					<p>I am actually a man of multiple interests. Be it work or hobby, I tend to give it my all. When working as a web developer, I often come across new frameworks that I need to use but I am unfamiliar with. I will try to piece together different components and read its documentation intensive until I build something. When it comes to my hobby I like to do as much related reading as possible to hone my craft.</p>

					<p>In my previous experiences, while I prefer to do my own thinking when solving a problem, I also fit well in a team setting. I can engage in discussions and bring out my own perspective on the matter as a solution to problems. If there isn’t a leader present I can lead but otherwise I am happy to provide support for the sake of the team.</p>

					<p>I’m always happy to have a conversation, no matter whether it’s work-related or non-work-related. Feel free to send me a message. Sharing experiences is exciting!</p>
				</div>
				<div class="col-md-6">
					<p>你好，我的名字是林賀博。我非常熱衷於最新科技與任何跟電腦網路有關的事物。對我來說，使用學習的知識解決挑戰是一件很興奮的事情，所以我常常在吸收各種不同的科技與知識。在團隊裡面，我是一個幽默而且很有彈性的人，如果遇到會負面影響團隊的事情，我絕對不會妥協。</p>

					<p>我大學就讀於香港科技大學。雖然在香港科技大學的那四年我從學校提供的資源受益良多，但是我覺得最大的收穫還是在於找到自己所熱愛的事物，並且努力地去完美他的心態。</p>

					<p>我感興趣的事物的範圍十分廣泛。不論是工作還是個人嗜好，我都會全力以赴。當我在前端開發者的時候，很多時候會遇到需要使用新的框架來打造一個新功能。這時候我會試著仔細地閱讀文檔，以及嘗試拼湊一些元件，直到我拼出一點成果出來。又或者是當我在做個人嗜好時，我喜歡閱讀很多資料以便把我嗜好的水平拉至巔峰。</p>

					<p>根據我之前幾次團隊合作的經驗，雖然我傾向於自己思考解決方案，可是在團隊合作的時候我也能夠配合的很不錯。通常我會在討論中淬煉出自己的看法並且提出來作為解決方案的建議。如果團隊中目前沒有領導者我可以跳出來帶領團隊，但是在其他時候我也很樂意儘可能提供團隊協助。</p>

					<p>我隨時都喜歡跟別人交流，不管是工作上還是非工作上，所以傳個訊息給我吧。聽別人的故事很有趣！</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
